/* Catppuccin Mocha theme */

@define-color base   #1e1e2e;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color text   #cdd6f4;
@define-color subtext #a6adc8;
@define-color mauve  #cba6f7;
@define-color blue   #89b4fa;
@define-color green  #a6e3a1;
@define-color yellow #f9e2af;
@define-color red    #f38ba8;
@define-color peach  #fab387;


* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: @text;
    border-radius: 8px; 
}

window#waybar {
    background: transparent;
    color: @text;
}

#window {
    background-color: @base;
    padding: 3px 15px;
}

#workspaces {
    transition: all 150ms ease-in-out;
    margin-right: 5px;
}

#workspaces button {
    transition: all 150ms ease-in-out;
    padding: 3px 5px;
    background-color: @base;
    margin: 0 2px;
}

#workspaces button.active {
    transition: all 150ms ease-in-out;
    min-width: 35px;
}

#clock {
    font-weight: 800;
    background-color: @base;
    padding: 3px 15px;
}

#pulseaudio {
    font-weight: 800;
    background-color: @base;
    border-radius: 8px;
    padding: 3px 10px;
    margin: 0 3px;
}

#tray {
    font-weight: 800;
    background-color: @base;
    border-radius: 99px;
    padding: 3px 10px;
    margin: 0 4px;
}

#custom-media {
    margin: 0 2px;
    padding: 3px 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: aliceblue; /* aliceblue */
    font-weight: bold;
}

#network {
    font-weight: 800;
    background-color: @base;
    border-radius: 8px;
    padding: 3px 10px;
    margin: 0 3px;
}

#mpris {
    font-weight: 800;
    background:alpha(#121212, 0.4);
    border-radius: 8px;
    padding: 3px 10px;
    margin: 0 2px;
}

#battery {
   background-color: @base;
   padding: 3px 10px;
}

#backlight {
   background-color: @base;
   padding: 3px 10px;
   margin: 0 3px;
}
